extends layout

block main
    main.container
        h2.text-center= title
        a.add-button(href="/tasks/add") Agregar Tarea
    ul.task-list
        if tasks.length === 0
            li
                b.text-center No tienes tareas pendientes
        else
            each task in tasks
                li(class=task.completed ? "completed": "")
                    a(href=`/tasks/edit/${task.id}`) #{task.name}
                    if task.completed
                        form.uncomplete-form(action=`/tasks/uncomplete/${task.id}` method="POST" style="display:inline")
                            button.uncomplete-button(type="submit") Desmarcar
                    else
                        form.complete-form(action=`/tasks/complete/${task.id}` method="POST" style="display:inline")
                            button.complete-button(type="submit") Completar
                    form.delete-form(action=`/tasks/delete/${task.id}` method="POST" style="display:inline")
                        button.delete-button(type="submit") Eliminar
    a.back-btn(href="/") 
        i(class="bi bi-arrow-left")
        span Volver
