extends ../layout

block styles
    link(rel="stylesheet", href="/css/tasks.css")

block main
    main.main-wrapper.panel
        div.tasks-header-edit
            h2.main-title.text-center= title
        form.add-form(action=`/tasks/edit/${task.id}` method="POST")
            div.form-group
                label(for="name") 
                    i(class="bi bi-tag")
                    span Nuevo nombre
                input.form-control(
                    type="text", 
                    id="name", 
                    name="name", 
                    value=task.name)
            
            button.btn.btn-primary.add-btn.w-100(type="submit") 
                i(class="bi bi-check2-square")
                span Confirmar
        a.btn.back-btn(href="/tasks") 
            i(class="bi bi-arrow-left")
            span Volver
